.app {}
.wrap   { width: 1200px; margin: 0 auto; }
.spread { justify-content: space-between; }
.center { text-align: center; }

.container { max-width: 36rem; margin: 3rem auto 6rem; padding: 0 1rem; }
.paragraph { width: 600px; margin: 0 auto; text-align: justify; }

.flexH { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.flexV { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }

.main { width: 1200px; margin: 0 auto; text-align: center; }
.mainTitle { text-align: center; font-size: 3em; }
.subTitle { font-size: 1.2em; color: var(--color-secondary); }
.secondary { color: var(--color-secondary); }
.extraSmall{ font-size: 70%; }

.titleTask { font-size: 2em; display: flex; align-items: center; }
.linkTask   { margin: 0 20px; padding: 2px 10px; font-size: 14px; font-weight: normal; background-color: var(--button-action); color: var(--color-primary); border: 1px solid var(--button-action); border-radius: 4px; }
.linkButton { margin: 0; margin-right: 20px; padding: 5px 10px; background-color: var(--button-action); color: var(--color-primary); border: 1px solid var(--button-action); border-radius: 4px; cursor: pointer; }
.actionButton { margin: 0 10px; padding: 8px 30px; background-color: var(--button-action); color: var(--button-text); border: 2px solid var(--button-border); border-radius: 4px; font-size: 120%; text-decoration: none; cursor: pointer; }
.actionButton:hover { color: var(--button-text); }
.actionButton:disabled { background-color: var(--button-disabled); border: 2px solid var(--button-disabled); cursor: unset; }

.listBox     { margin-top: 100px; }

.message { margin-top: 20px; }

/* COLLECTION */
.collection  { display: inline-block; width: 250px; height: 325px; margin: 20px 0; text-align: center; border: 1px solid var(--border-primary); border-radius: 0 0 8px 8px; background-color: var(--back-secondary); }
.collInfo    { padding: 2px 8px; }
.collImage   { width: 250px; height: 250px; }
.collName    { display: block; font-size: 1.2em; font-weight: bold; }
.collAuthor  { display: block; font-size: 0.9em; color: var(--color-secondary); }
.collDesc    { display: block; font-size: 0.9em; }
.collButton  { display: inline-block; width: 100%; box-sizing: border-box; margin-top: 5px; padding: 4px 10px; color: var(--color-primary); background-color: var(--back-highlight); border: 1px solid var(--border-primary); border-radius: 0 0 8px 8px; text-decoration: none; cursor: pointer; }
.collButton:hover { background-color: var(--back-accented); text-decoration: none; }

/* NFT */
.listItems   { display: grid; grid-template-columns: auto auto auto auto; justify-content: space-between; }
.item        { display: inline-block; width: 250px; height: 375px; margin: 20px 0; text-align: center; border: 1px solid var(--border-primary); border-radius: 0 0 8px 8px; background-color: var(--back-secondary); }
.itemInfo    { padding: 2px 8px; }
.itemImage   { width: 250px; height: 250px; }
.itemName    { display: block; font-size: 1.2em; font-weight: bold; }
.itemAuthor  { display: block; font-size: 0.9em; color: var(--color-secondary); }
.itemOwner   { display: block; font-size: 0.9em; }
.itemDesc    { display: block; font-size: 0.9em; }
.itemPrice   { display: block; font-size: 1.0em; }
.itemFees    { display: block; font-size: 0.8em; color: var(--color-secondary); }
.itemButton  { display: inline-block; width: 100%; box-sizing: border-box; margin-top: 5px; padding: 4px 10px; color: var(--color-primary); background-color: var(--back-highlight); border: 1px solid var(--border-primary); border-radius: 0 0 8px 8px; text-decoration: none; cursor: pointer; }
.itemButton:hover { background-color: var(--back-accented); text-decoration: none; }

/* FORM */
.formBox    {}
.formPic    { width: 500px; height: 500px; border-radius: 8px; }
.formFile   { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 2; cursor: pointer; }
.formInfo   { text-align: left; width: 500px; margin: 50px auto; }
.formList   { list-style: none; margin: 20px 0; }
.formLabel  { display: block; color: var(--color-secondary); }
.formValue  { display: block; color: var(--color-primary); font-size: 1.2em; }
.formSmall  { color: var(--color-secondary); opacity: 0.6; }
.formInput  { width: 100px; padding: 5px; border: 1px solid var(--border-primary); border-radius: 3px; background-color: var(--back-secondary); color: var(--color-primary); }
.formWider  { width: 490px; padding: 5px; border: 1px solid var(--border-primary); border-radius: 3px; background-color: var(--back-secondary); color: var(--color-primary); }
.formSelect { width: 300px; padding: 5px; border: 1px solid var(--border-primary); border-radius: 3px; background-color: var(--back-secondary); color: var(--color-primary); }

.artwork { position: relative; margin: 0 auto; width: 500px; height: 500px; }


.notFound { padding: 200px; text-align: center; }
