.main { width: 1200px; margin: 0 auto; text-align: center; }
.mainTitle { font-size: 3em; }

.catList { margin-top: 40px; display: grid; grid-template-columns: auto auto auto auto auto; justify-content: space-between; }
.catImage { width: 600px; height: auto; }
.catImage:hover { border: 3px solid var(--color-primary); }

@media screen and (max-width: 720px) {
  .main { width: 100%; margin: 0 auto; box-sizing: border-box; }
  .catImage { width: 90%; height: auto; }
}