.header { display: flex; flex-direction: row; justify-content: space-between; align-items: center; border-bottom: 1px solid var(--border-primary); background: var(--back-alternate); }

.topBar   { width: 1200px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 20px auto; }
.mainLogo { width: 40%; font-size: 2.2em; color: #fff; }
.mainLogo a { color: var(--color-primary); text-decoration: none; }
.mainLogo a:hover { color: var(--color-primary); }
.mainLogo a:visited { color: var(--color-primary); }
.mainLogo a:visited:hover { color: var(--color-primary); }
.mainHome { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.mainName { color: var(--color-primary); }
.mainMenu { display: flex; justify-content: flex-end; align-items: center; width: 40%; text-align: right; }
.logo { content: var(--media-logo); width: 540px; height: 44px; margin-right: 10px; }

.menuLink { padding: 0 30px; color: var(--link-normal); cursor: pointer; }
.menuLink:last-child { padding-right: 0; }
.iconTheme { content: var(--media-theme); width: 28px; }

