.profile     { width: 1200px; margin: 0 auto; padding: 50px 0; box-sizing: border-box; }
.profileTitle{ font-size: 2em; text-align: center; }
.profileBox  { box-sizing: border-box; padding: 40px 70px; border: 1px solid var(--border-primary); border-radius: 8px; background-color: var(--back-secondary); }
.avatarBox   { display: flex; justify-content: flex-start; align-items: flex-start; margin-bottom: 50px; }
.avatarImage { position: relative; margin: 0 auto; width: 250px; height: 250px; }
.avatarPic   { width: 250px; height: 250px; }
.avatarInfo  { margin-left: 40px; }
.avatarLabel { display: block; color: var(--color-secondary); }
.userName    { font-size: 2em; }
.userDesc    {  }
.userMail    { margin-bottom: 20px; }